@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 pt-5">
    <h1 class="display-4 center">Bienvedo</h1>
    <p>Este es un ejemplo de una aplicación MVC desarrollada en ASP.NET Core.<br /> Puedes ver un ejemplo de Api-Rest haciendo click en el siguiente enlace <a href="https://github.com/antonioolvera1995/ASP.NET.Core-WebApi">Api-Rest en ASP.NET</a>.</p>
</div>
